<div class="profile-head row"  >  
    <div class="col-md-3 col-sm-12"> 
      <div class="image-holder">
          <div  class="circle" >  
     </div>
       </div>
  </div>
  <div class="col-md-9 col-sm-12"> 
     <div class="profile-details"> 
         <h4 class="name">  <ngx-skeleton-loader  [theme]="{ 
          'border-radius': '7px',
          height: '14px',
          width: '140px' 
        }"   ></ngx-skeleton-loader>
      </h4>
         <span class="bio">  <ngx-skeleton-loader  [theme]="{ 
          'border-radius': '7px',
          height: '40px',
          width: '250px' 
        }"     ></ngx-skeleton-loader> </span> <br>
         <span class="location"> <ngx-skeleton-loader  [theme]="{ 
          'border-radius': '7px',
          height: '10px',
          width: '120px' 
        }"    ></ngx-skeleton-loader></span>
         <div class="social">
         <span > <ngx-skeleton-loader  [theme]="{ 
          'border-radius': '7px',
          height: '10px',
          width: '100px' 
        }"  ></ngx-skeleton-loader> </span> 
      </div>
     </div>
  </div>
  <div class="col-12"> 
      <div class="github-link">
          <ngx-skeleton-loader  [theme]="{ 
              'border-radius': '7px',
              height: '10px',
              width: '100px' 
            }" class="profile-image"  ></ngx-skeleton-loader>
      </div>
     
</div>

</div>
